/*  GLOBAL  --------------------------------- */

:root {
    --color1: #AF5DFF;
    --color2: #49B6FF;
    --color3: #ff4949;
    --color4: #FBD72F;

    --borderColor1: #8D4ACE;
    --borderColor2: #429DDA;
    --borderColor3: #F6B828;

    --black1: #303030;
}

/* Border Div FIX*/
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;


    position: relative;


    color: var(--black1);
    border-color: var(--black1);
    font-family: "Montserrat", sans-serif;

    transition: all 0.8s;
}


h1 {
    font-size: 40px;
}

h1 .underline {
    font-weight: 700;
    text-underline-offset: 5px;
    text-decoration: 8px underline;
    text-decoration-color: var(--color1);
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

p {
    margin: 0;
    padding: 0;
}

/* TABLE  --------------------------------- */

.header-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.game-wrapper {
    height: 100%;
    width: fit-content;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;

    position: relative;
}

.underline {
    font-weight: 800;
    text-underline-offset: 4px;
    text-decoration: 4px underline;
    text-decoration-color: var(--color1);
}

.game-board-wrapper {
    position: relative;
}

.table-wrapper {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

    position: relative;

}

table {
    width: 100%;

    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;

    padding: 5px;

    border: 2px solid;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
}


table tr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;

    padding: 5px;
}

table td {

    width: 30px;
    height: 30px;
    padding: 5px;

    align-items: center;
    align-content: center;

    position: relative;

    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color2);

    background-color: var(--color2);
    box-shadow: inset 0 0 0 5px var(--borderColor2);
}


table td:hover {
    background-color: var(--color1);
    box-shadow: inset 0 0 0 5px var(--borderColor1);
}


#revealed {
    color: white;
    background-color: var(--color1);
    box-shadow: inset 0 0 0 0;
}

#megaHint {
    color: var(--color1);
    background-color: var(--color4);
    box-shadow: inset 0 0 0 0;
}

.hint {
    background-color: var(--color4);
    box-shadow: inset 0 0 0 5px var(--borderColor3);
}

.boom {
    background-color: var(--color3);
    box-shadow: inset 0 0 0 0;
}

/* GAME-INFO --------------------------------- */

.gameinfo-wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn:hover {
    background-color: #49B6FF;
}


.btn {
    width: 50%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 30px;
    border: 2px solid;

    cursor: pointer;
}

.restart {
    width: 50%;
    height: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 30px;

    border: 2px solid;
    cursor: pointer;
}


.gameinfo {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mark {
    width: 100%;
    height: 60px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 30px;
    border: 2px solid;
}

.life-count {
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.mark-count {
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.life {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 30px;
    padding: 10px;
    border: 2px solid;
}


.timer {
    width: 100%;
    height: 60px;
    min-width: 150px;
    border: 2px solid;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 30px;
    padding: 5px;
}


/* GAME-OPTIONS --------------------------------- */


.options {
    width: 100%;

    padding: 5px;
    position: relative;
    border: 2px solid;
}

.options-btn-container {
    width: 100%;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.game-options-wrapper {
    width: 100%;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.diff-container {
    width: 100%;
}

.hack-container {
    width: 100%;
}

.selected {
    background-color: var(--color1);
    color: white;
}

/* DARKMODE --------------------------------- */

.darkmode {
    border-color: white !important;
    background-color: var(--black1) !important;
    color: white !important;
}

.darkmode-switch {

    width: 3rem;
    height: 3rem;

    position: relative;
    top: 5px;

    background-position: center;
    background-position: 0% 0%;
    background-size: 100% 100%;
    background-image: url('../img/darkmode.png');

    cursor: pointer;
    transition: all 0.5s;
}

.darkmode-switch:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


/* SCOREBOARD --------------------------------- */


.score-form {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.score-btn {
    width: 80%;
    padding: 5px;

    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;

    text-align: center;
    border: 2px solid;
}

.score {
    width: 80%;

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    border: 2px solid;
    padding: 5px 10px 5px 10px;

}

.score-board-container {
    height: fit-content;
    width: fit-content;

    display: none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    gap: 10px;

    position: absolute;
    top: 120px;
    left: -15rem;
}

.scores-container {
    width: fit-content;
    height: fit-content;

    border: 2px solid;

    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: stretch;
    align-content: center;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;

}

.score-board-container h3 {
    margin: 0;
    padding: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* MODAL -----------------------------*/

.modal {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 100;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: #ae5dff77;
}

.modal-content {
    width: 80%;
    height: fit-content;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    border: 2px solid;

    background-color: white;
}

.modal-open {
    display: flex;
    transition: all 1s;
}

.modal-btn {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    font-size: 1.2rem;
    text-align: center;

    border: 2px solid;
    background-color: white;
}

.modal-score-name {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    font-size: 1rem;
    font-weight: 500;

    text-align: center;
    border: 2px solid;
    background-color: white;
}

.modal-content h3 {
    margin: 0;
    font-size: 2rem;
}

input::placeholder {
    font-size: 1rem;
}

/* TOOLTIP --------------------------- */

.tool-tip-txt {

    text-align: center;

    font-size: 1rem;
    visibility: hidden;
    width: 130px;
    border: 2px solid;

    padding: 5px 0;
    position: absolute;
    top: 65px;
    z-index: 200;
}

.options:hover .tool-tip-txt {
    visibility: visible;
}

.credits {
    margin-top: 50px;
}